<h1>Sign Up</h1>

<form action="/insert_user_record">
  <label for="browser_username">Username</label>
  <input id="browser_username" type="text" name="input_username" placeholder="Enter a username...">

  <label for="browser_password">Password</label>
  <input id="browser_password" type="password" name="input_password" placeholder="Enter a password...">

  <label for="browser_password_confirmation">Password</label>
  <input id="browser_password_confirmation" type="password" name="input_password_confirmation" placeholder="Confirm your password...">


  <button>Sign up!</button>
</form>
